@tailwind base;
@tailwind components;
@tailwind utilities;

/* 添加动态背景渐变动画 */
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animated-gradient {
  background-size: 400% 400%;
  animation: gradient 20s ease-in-out infinite;
  background-image: linear-gradient(
    -45deg,
    rgb(30, 58, 138, 0.8),  /* 更亮的深蓝色 */
    rgb(56, 189, 248, 0.8),  /* 天蓝色 */
    rgb(59, 130, 246, 0.8),  /* 中等蓝色 */
    rgb(30, 58, 138, 0.8)   /* 更亮的深蓝色 */
  );
}
